# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.log

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# System Files
.DS_Store
Thumbs.db
