<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/mail/mailer/PHPMailer/tests" />
        <option value="$PROJECT_DIR$/report/office_vendor/markbaker/complex/tests" />
        <option value="$PROJECT_DIR$/report/office_vendor/markbaker/matrix/unitTests/classes/src" />
        <option value="$PROJECT_DIR$/report/office_vendor/phpoffice/phpspreadsheet/tests" />
        <option value="$PROJECT_DIR$/report/office_vendor/myclabs/php-enum/tests" />
        <option value="$PROJECT_DIR$/report/office_vendor/maennchen/zipstream-php/test" />
        <option value="$PROJECT_DIR$/original/mail/mailer/PHPMailer/tests" />
        <option value="$PROJECT_DIR$/original/report/office_vendor/markbaker/complex/tests" />
        <option value="$PROJECT_DIR$/original/report/office_vendor/myclabs/php-enum/tests" />
        <option value="$PROJECT_DIR$/original/report/office_vendor/phpoffice/phpspreadsheet/tests" />
        <option value="$PROJECT_DIR$/original/report/office_vendor/maennchen/zipstream-php/tests" />
        <option value="$PROJECT_DIR$/original/report/office_vendor/markbaker/matrix/tests" />
      </list>
    </option>
  </component>
</project>